.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  width: 100vw;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: calc(10px + 2vmin);
  line-height: 0;
  color: white;
  padding-left: 3vw;
}

.App-content {
  height: 90vh;
  width: 100vw;
  display: block;
  position: fixed;
  top: 10vh;
  background-color: whitesmoke;
}

.App-link {
  color: #61dafb;
}

.EditToolbar {
  height: 10vh;
}

.EditToolbar button {
  display: inline-block;
  background-color: darkcyan;
  color: white;
  font-weight: bold;
  border: none;
  height: 10vh;
  width: 10vh;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.ReactQuill {
  background-color: white;
  height: 80vh;
}

.authUI {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: fixed;
  top: calc(8vh - 50px);
  right: 3vw;
}

button.authUI {
  background-color: darkcyan;
  color: white;
  font-weight: bold;
  border: none;
}

.storyListItem {
  background-color: lightgrey;
  padding: 5px;
  padding-left: 10px;
  margin: 10px;
  margin-bottom: 5px;
}

.storyListItem:hover {
  background-color: darkslategrey;
  color: white;
}

.BackButton {
  background-color: #444444;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  margin-right: 10px;
  height: 30px;
}

.AddTileButton {
  width: 80px;
  height: 80px;
  position: fixed;
  display: block;
  bottom: 2vmin;
  right: 2vmin;
  font-size: 2em;
  background-color: #282C34;
  color: white;
  border: none;
  border-radius: 100px;
}

.EditBarInput {
  margin-right: 4px;
  border: none;
  padding: 3px;
  border-radius: 2px;
}